@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  --bg-start: #071028;
  --bg-end: #071424;
}

body{
  @apply bg-gradient-to-b from-[#071028] to-[#071424] text-slate-100 antialiased;
  font-family: Inter, ui-sans-serif, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
}

/* small glass card utility */
.glass {
  background: rgba(255,255,255,0.03);
  backdrop-filter: blur(6px);
}
